 <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
  </header>
<div class="create_main">
 <div class="share-propose"><p>投稿できました!</p>
 <p>投稿をシェアしますか？</p></div>
 <div class="twitter-share-button-create"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
</div>
<div class="backbtn"><%=link_to '投稿ページを確認する',item_path(@item.id), class:"back-btn-create" %></div>
<div class="backbtn"><%=link_to 'もどる', root_path, class:"back-btn-create" %></div>
<%= render "shared/second-footer"%>